<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head2'); %>
    
    <!-- include the header for accurate color -->
    <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        body::before {
    display: block;
    content: '';
    height: 50px;
}

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation"  style="background-color: white !important;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">E-Summit 2021</a>
          <button class="btn btn-outline-primary btn-sm" type="button" id="register_button" aria-label="Toggle navigation">
            Pre-Register Now
            <!-- <span class="navbar-toggler-icon"></span> -->
          </button>
          <!-- <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
    
          <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Switch account</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                                aria-expanded="false">Settings</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div> -->
        </div>
      </nav>
    
      <!-- <div class="nav-scroller bg-dark shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" href="/">Explore</a>
                <a class="nav-link" href="/legacy">Legacy</a>
                <a class="nav-link" href="/events">
                    Events
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">5</span>
                </a>
                <a class="nav-link" href="/schedule">Schedule</a>
                <a class="nav-link" href="/sponsors">Sponsors</a>
                <a class="nav-link" href="latest">Latest</a>
                <a class="nav-link" href="/ca">Campus Ambassador Program</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div> -->
    
      <%- include('../partials/navScroller'); %>
    
    
      <%- include('../partials/svgSymbols'); %>
    
    <!-- Showcase Intro  -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="../assets/images/HackNPitch/HackNPitch white.png" class="img-fluid w-40% px-3" alt="Join Us">
                </div>

                <div class="col-md py-5 align-items-center text-center text-sm-start">
                    <h3 class="display-6 ">BUILD FOR <span class="text-primary">INNOVATION</span></h3>
                    <p class="lead mt-3">
                        To all the techpreneurs out there, here is your perfect opportunity to deal with real time Industrial problems and give wings to your imagination power providing the most innovative solution in due course. We present to you HackNPitch, which provides the perfect ground to network & teamwork for tech-driven entrepreneurs & students.
                    </p>

                    <a href="#know" class="btn btn-outline-primary btn-lg mt-3">
                       Know More
                    </a>
                </div>

            </div>
        </div>

   </section>

   <!-- Section -->

   <section class="text-light py-5 text-center text-sm-start bg-light" id="know">
    <div class="container">
        <div class="d-md-flex aling-items-center justify-content-between">
            <div>
                <h1 class="display-5 fw-bold">All About <span class="text-primary">Hackathon:</span></h1>
                <p class="lead text-dark my-5"> Presenting you the Hackathon where the participants will get the chance to innovate and apply their knowledge, creativity and competitive coding skills to solve and hack real world problems.  Focused on the programming language used, the operating system, an API, and the demographic group of the programmers, Hackathon is an event where quick witted brains showcase their skills and pitch it in front of the panels of judges for its financial support. Participate in Esummit 2021's Hackathon and take this preliminary exposure into the world of advancing technology and entrepreneurship.
                </p>
                
                <a href="#form" class="btn btn-outline-primary btn-lg mt-3">
                    Register
                 </a>
            </div>    
        </div>
    </div>
   </section>


<!-- Boxes -->
   
<section class="p-5">
    <div class="container">
        <h2 class="text-center mb-5 fw-bold display-5">Why should you <span class="text-primary">ATTEND?</span></h2>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-primary text-light">
                    <div class="card-body text-center">
                     <div class="h1 mb-3">
                         <i class="bi bi-display"></i>
                    </div>
                    <h3 class="card-title mb-3">
                        30 Hours Long Hackathon
                    </h3>
                    <p class="card-text">
                        Second overnight 30-hours long Hackathon in a college in Kolkata
                    </p>
                    
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-dark">
                    <div class="card-body text-center">
                     <div class="h1 mb-3">
                         <i class="bi bi-lightbulb"></i>
                    </div>
                    <h3 class="card-title mb-3">
                        Top-notch Collaboration
                    </h3>
                    <p class="card-text">
                        Top-notch collaborators for the event from all across the globe
                    </p>
                    
                    </div>
                </div>
            </div>

            <div class="col-md">
             <div class="card bg-primary text-light">
                 <div class="card-body text-center">
                  <div class="h1 mb-3">
                      <i class="bi bi-people-fill"></i>
                 </div>
                 <h3 class="card-title mb-3">
                    Uniting The Community
                 </h3>
                 <p class="card-text">
                    Platform for uniting the coding community in and around Kolkata
                 </p>
               
                 </div>
             </div>
         </div>


         <div class="col-md">
             <div class="card  text-dark">
                 <div class="card-body text-center">
                  <div class="h1 mb-3">
                      <i class="bi bi-gear-fill"></i>
                 </div>
                 <h3 class="card-title mb-3">
                     Perks!!! and Experience
                 </h3>
                 <p class="card-text">
                     Chance to win amazing prizes and/or goodies 
                 </p>
                 
                 </div>
             </div>
         </div>

        </div>
    </div>
</section>

<!-- Gallery -->

<section class="bg-light text-dark p-5 text-center text-sm-start">
    <div class="container">
        <h2 class="text-center mb-5 fw-bold display-5">From the <span class="text-primary">Archives</span></h2>
        
<div class="row">
    <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
      

      <img
        src="../assets/images/HackNPitch/1.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />

      <img
        src="../assets/images/HackNPitch/2.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
      <img
        src="../assets/images/HackNPitch/3.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="../assets/images/HackNPitch/4.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    
  </div>
 
    </div>
</section>

 <!-- Sponsors starts -->

 <div class="album py-5 ">
    <div class="container">
        <h2 class="text-center mb-5 fw-bold display-5"><span class="text-primary">Partners and Sponsors</span></h2>
      <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4 align-items-center justify-content-around">
        <div class="col px-5">
          <img src="../assets/images/HackNPitch/OReilly_logo_rgb.png" class="w-100">
        </div>
        <div class="col px-5">
          <img src="../assets/images/HackNPitch//1200px-WolframCorporateLogo.svg.png" class="w-100">
        </div>
        <div class="col px-5">
            <img src="../assets/images/HackNPitch/sawo_logo.e81a79c6.svg" class="w-100">
        </div>
          
        


      </div>
    </div>
  </div>

  <!-- Past Sponsors ends -->
    <!-- FAQs -->
    
        
            
    <section id="faqs" class="py-5 bg-light">
    <div class="container-md ">
        <div class="container">
            <h2 class="text-center mb-5 fw-bold display-5"><span class="text-primary">FAQs</span></h2>
      <div class="row my-5 g-5 justify-content-around align-items-center">
        <div class="col-6 col-lg-4">
          <img src="../assets/images/HackNPitch/HackNPitch white.png" class="img-fluid" alt="ebook">
        </div>
        <div class="col-lg-6">
          
          <!-- accordion -->
          <div class="accordion" id="chapters">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                  How many members in a team ?
                </button>
              </h2>
              <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Teams can have a minimum of 2 members and maximum of 4 members.</p>
                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="false" aria-controls="chapter-2">
                  Can people participate if they're not in college ?/ Are cross college team allowed?
                </button>
              </h2>
              <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Yes, all we need are teams who are enthusiastic. All team members must be either students or professionals.</p>
              </div>
            </div>
            </div>
        </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-3">
                  What is the venue of the competition ?
                </button>
              </h2>
              <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>The hackathon will be completely online, spread across two weeks.</p>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>

    

   <!-- Form -->
   <div>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5" id="form">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-5 fw-bold lh-1 mb-3">Register Now!</h1>
          <p class="col-lg-10 fs-4">
              Build innovative and impactful solutions for this hackathon. No limitations on what technologies to use and what programming languages to code in. 
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5">
            
            <h5 class="display-6 py-5 text-center">It's NOW or <span class="text-primary">NEVER!!!</span></h5>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register Now</button>
            
          </form>
        </div>
      </div>
    </div>
   </div>


  
    
  
   <%- include('../partials/footer2'); %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>
